@{
    Layout = null;
}

<!DOCTYPE html>

<p>Sign In Below</p>
<p>Deanna Cochener</p>
<p>Jeff McClain :)</p>
<p>Colin Kurk</p>
<p>Kun Qian</p>
<p>Kellan Loew. After reclone :)</p>
<p>Sabina Kafle</p>
<p>Jan</p>
<p>Jordan Spangenberg - reclone</p>
<p>Cole Johnson xD</p>
<p>John Waller ;p</p>
<p>Sabina Kafle :)</p>
<p>Brandon Bickerton</p>
<p>Matt Jablecki</p>
<p>Chad Clement</p>
<p>Mark Domeracki </p>
<p>Gunnar Andersen</p>
<p>Randall Roberts</p>
<p>Michael Galas</p>
<p>Daniel McWilliams</p>
<p>Nataliya Zaskalkina</p>

@*
    Dummy Accounts:

    Administrator: username: SiteAdmin, Password: @Pass1234, Email: test@gmail.com
    Account 1: username: Jack, password: 123ABCdef!, email: hello@gmail.com , Admin
    Account 2: username: Jill, password: 123!@#ABCabc, email: test@123.com, Manager
    Account 3: username: Joe, password: 789asdASD!, email: joe@doe.com, Employee

*@
<p>Michael Tallant ;P</p>
<p>Trey Hamel :(</p>
<p>Jeremy Stewart </p>
<p>Julie Lang</p>
<p>Matthew Brady</p>
<p>Charles Montemayor</p>
<p>Ryan Vinyard</p>
<p>Christine Horvath</p>
<p>Eric Byrne</p>
<p>Christopher Stam</p>
<p>David Fine</p>
<p>Tyler Carson</p>
<p>Jamie Scott</p>
<p>Devin Biddy</p>
