@{
    ViewBag.Title = "SignIn";
}

<h2>Sign In here!</h2>

<p>Deanna Cochener</p>
<p>Jenny Peterson</p>
<p>Austin Wunderlich</p>
<p>Jamie Scott</p>
<p>Kiran Gregerson</p>
<p>Tim Calhoun</p>
<p>Patrick Champagne</p>
<p>Tony Smith</p>
<p>Christopher Stam</p>
<p>Ariel Hammon, long live rock'n'roll!</p>
<p></p>
<p>Ben Furdui</p>
<p></p>
<p></p>
<p>Chester Terry</p>
<p>John Adams</p>
<p>Blake Schuchart</p>
<p>Eric Byrne</p>


@*
    Dummy Accounts:
    Administrator: username Admin1, password: 1234@!AZ, email: admin@gmail.com
    Administrator: username: SiteAdmin, Password: @Pass1234, Email: test@gmail.com
    Account 1: username: Jack, password: 123ABCdef!, email: hello@gmail.com , Role: Admin
    Account 2: username: Jill, password: 123!@#ABCabc, email: test@123.com, Role: Manager
    Account 3: username: Joe, password: 789asdASD!, email: joe@doe.com, Role: Employee

*@

