:root {
    --dark-brown: #534E54;
    --light-brown: #A79885;
    --light-grey: #F2F2F2;
    --dark-blue: #4E6172;
    --dark-green: #444C13;
    --main-yellow: #F2C03A;
}

.navbar-inverse {
    background-color: #033304;
    border-top: double;
    border-bottom: double;
    border-color: grey;
    opacity: 1;
    transition: 0.3s color;
}

.simple-border {
    border: 1px solid lightgrey;
}

.no-border {
    border: none;
}

#nav-links {
    color: #ffffff;
    transition: opacity .2s;
    padding: 10px 10px;
    background-color: transparent;
}

.dropdown-menu {
    background-color: #e3e3e3;
}
.navbar {
    background-color: transparent;
    border-color: transparent;
}
#users, #schedule, #jobs, #company {
    color: white;
}

.dropdown-item {
    color: #000;
    text-decoration: none;
}

.dropdown-item a:hover {
    text-decoration: none;
}

.modal-news {
    width: 750px;
    margin: auto 0 auto 50px;
}

.header-spacing {
    padding: 5px;
}

/*the textarea input css start*/
#NewsItem, #Title, #ExpirationDate {
    width: 500px;
    border-radius: 5px;
}

#NewsItem {
    height: 80px;
    max-height: 250px;
    min-height: 40px;
}

#Title {
    height: 40px;
}

input, select, textarea {
    max-width: 500px;
}

@media (min-width: 1215px) {
    .container {
        width: 1230px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width: 992px) {
    .container {
        width: inherit;
    }
}

#test {
    padding-right: 30px;
}

.logo {
    float: left;
    padding-top: 8px;
}

#logoTitle a {
    font-family: 'Montserrat', sans-serif;
    color: orangered;
    font-size: 20pt;
    font-weight: 700;
    padding-right: 20px;
    padding-left: 10px;
    transition: color .5s;
}

#logoTitle a:hover {
    color: #d1410c;
    text-decoration: none;
}

.navbar-inverse .navbar-nav > li > a {
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    font-weight: 700;
    color: #ffffff;
    transition: color .5s;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: grey;
}


/*===============================
    Styling for the password requirement box
*/

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: start;
    font-size: small;
}

#pswd_info {
	position: absolute;
	bottom: -125px;
	bottom: -115px\9;
	right: 135px;
	width: 250px;
	padding: 15px;
	background: #fefefe;
	font-size: .875em;
	border-radius: 5px;
	box-shadow: 0 1px 3px #ccc;
	border: 1px solid #ddd;
	display: inline-block;
	z-index: 1;
}

#pswd_info h4 {
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: normal;
 }

#pswd_info::before {
    content: "\25C0";
    position: absolute;
    top: 45%;
    left: -12px;
    font-size: 14px;
    line-height: 14px;
    color: #ddd;
    text-shadow: none;
    display: block;
 }

.invalid {
    padding-left: 22px;
    line-height: 24px;
    color: #ec3f41;
}

.valid {
    padding-left: 22px;
    line-height: 24px;
    color: #3a7d34;
}



/* =============================================================
    Styling form Chat-box

*/

#chatButton {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#close {
    padding-right: 30px;
}

#minimize {
    padding-right: 15px;
}

#chatbody {
    padding: 0; /* This allows smooth collapse animation. jQuery only animates the element's height. */
}

.chat-popup {
    width: 24%;
    min-width: 300px;
}

textarea {
    padding: 5px;
    vertical-align: bottom;
    width: 74%;
    height: 50px;
    resize: none;

    /* Overrides the default textarea look. Whoever is handling the UI color changes should probably look at this. */
    border: 1px solid #8AC;
    border-radius: 5px;
}

textarea:focus {
    /* Overrides the default textarea look. Whoever is handling the UI color changes should probably look at this. */
    outline: none;
    box-shadow: inset 0 0 1.25px 0.5px #578;
}

.modal-header {
    color: var(--light-grey);
    background-color: var(--dark-blue);
    background: -webkit-gradient(circle, var(--light-brown) 1%, var(--dark-blue) 43%);
    background: -webkit-radial-gradient(circle, var(--light-brown) 1%, var(--dark-blue) 43%);
    background: -moz-radial-gradient(circle, var(--light-brown) 1%, var(--dark-blue) 43%);
    background: radial-gradient(circle, var(--light-brown) 1%, var(--dark-blue) 43%);
    border-radius: 5px;
    animation: pulse 1.2s ease alternate infinite;
    padding: 2px;
}

.ei-chatbox-header {
    padding-top: 5px;
    padding-bottom: 5px;
}

@keyframes pulse {
    from { opacity: 1;}
    to {opacity: 0.8;}
}

.ei-chatbox-body {
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 12px;
}


#chatForm {
    display: none;  /* Hide by default. Should be [display: block] otherwise. */
    position: fixed;
    bottom: 15px;
    right: 15px;
}


#discussion {
    margin-bottom: 15px;
    list-style-type: none;
    overflow-y: scroll;
    overflow-wrap: normal;
    height: 200px;
    width: 100%;
}

.ei-chatbox-button {
    color: #FFF;
    outline: none;
    padding: 5px;
    background-color: transparent;
}

.ei-chatbox-button:hover {
    color: #DCDCDC;
}

.ei-message-btn {
    width: 14%;
    min-width: 64px;
    margin-bottom: 2px;
    margin-left: 1%;
    background-color: #214565;
    color: #FFF;
    box-shadow: 0px 1px #335;
}

.ei-message-btn:hover {
    color: #FFF;
    background-color: #215575;
}

.ei-minimize-btn {
    margin: 5px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 600px;
}






/* ===================================================================================================
    NAVBAR STYLE
*/

.navbar .navbar-default .navbar-fixed-top .ei-navbar {
    position: fixed;
    width: 100%;
    height: 7vh;
    background-color: transparent;
    border-color: transparent;
    opacity: 1;
    min-height: 0;
    display: none;
}

.navbarHamburger {
    width: 25px;
    height: 5px;
    background-color: var(--dark-brown);
    margin: 5px 0;
}


.navbar .navbar-default .navbar-fixed-top .ei-navbar li a {
    color: #FFF;
    font-family: "Arial Black";
}

.navbar .navbar-default .navbar-fixed-top .ei-navbar li a:hover {
    color: #DCDCDC;
}


#nav-brand {
    color: #FFF;
    font-size: 30px;
    font-family: "Arial Black";
}

#logoff a{
    color:white;
}
#chat button {
    color: white;
}

/* =================================================================================
    SITE STYLE
*/

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.ei-banner {
    position: relative;
    width: 100%;
    display: table;
    table-layout: fixed;
}

.ei-banner img {
    height: 408px;
    width: 100%;
    background-image: url('img/Four-graces.jpg');
    background-repeat: no-repeat;
    background-position: 50.00% 69.88%;
    background-color: transparent;
    background-size: cover;
}

.sub-header {
    color: var(--light-grey);
    background-color: var(--light-brown);
}

.ei-content {
    font-size: 20px;
    margin: 100px;
}


.top-buffer {
    margin-top: 20px;
}

.left-buffer {
    margin-left: 20px;
}

#createUserRequestList {
    width: calc((100% / 12) * 5 - 20px)
}

.overflow-auto {
    overflow: auto;
    height: 400px;
}

.createNew {
    float: right;
    justify-content: flex-end;
    font-size: 15px;
    
}

a.createNew {
    color: #337ab7;
}
.panel-title {
    font-size: 24px;
}
.chatName {
    margin-left: 15px;
}

.green-label {
    background-color: var(--dark-green);
}

.blue-header {
    color: var(--light-grey);
    background-color: var(--dark-blue);
}

button#minimize, button#close {
    width: 5px;
    margin: 10px;
    color: white;
    outline: none;
}

.manageChat {
    color: white;
    float: right;
    margin: 10px;
    opacity: .3;
}

.manageChat:hover{
    color: white;
    opacity: .6;
    text-decoration: none;
}

/*update media rule to show nav bar on iPad and iPad Pro*/
@media (max-width: 1025px) {
    #construction {
        display: none;
    }
    .navbar {
        background-color: #DCDCDC;
    }
}

.mobileDashboardRow {
    margin:auto;
}

@media (max-width: 330px) {
    #nav-brand {
        font-size: 25px
    }

    .mobileDashboardRow {
        width: 310px
    }

    .mobileDashboardButton {
        width: 130px;
        height: 50px;
        margin: 10px 10px 10px 10px;
        font-size: 13px;
    }

    /*creates padding to put MySchedulePartial page into frame on mobile display*/
    h2.MyScheduleMobileHeader {
        padding-top : 45px
    }
}

@media (min-width: 360px) {
    .mobileDashboardRow {
        width: 340px
    }

    .mobileDashboardButton {
        width: 150px;
        height: 50px;
        margin: 0 10px 20px 10px;
        font-size: 16px;
    }
    .mobileDashboardButtonBottom {
        width: 150px;
        height: 50px;
        margin: 10px 10px 0 10px;
        font-size: 16px;
    }

    /*creates padding to put MySchedulePartial page into frame on mobile display*/
    h2.MyScheduleMobileHeader {
        padding-top: 85px
    }
}

@media (min-width: 700px) {

    .btn {
        white-space: normal;
    }

    .mobileDashboardRow {
        width: 400px
    }

    .mobileDashboardButton {
        width: 150px;
        height: 100px;
        margin: 0 20px 40px 20px;
        font-size: 25px;
        border-radius: 20px;
    }
}

@media (min-width: 900px) {

     #nav-brand {
        font-size: 35px
    }

    .mobileDashboardRow {
        width: 550px
    }


    .mobileDashboardButton {
        width: 200px;
        height: 140px;
        margin: 30px 30px 0 30px;
        font-size: 35px;
        border-radius: 20px;
    }
}
/* =================================================================================
    Master Schedule STYLE
*/
#sidebar {
    min-width: 300px;
    max-width: 300px;
    background-color: var(--dark-brown);
    border: 2px solid black;
    text-align: center;
    margin-left: 5px;
    float: left;
    margin-bottom: 30px;
    box-shadow: 2px 5px #888888;
}

#sidebar2 {
    min-width: 300px;
    max-width: 300px;
    background-color: var(--dark-brown);
    border: 6px solid black;
    text-align: center;
    margin-left: 50px;
    float: left;
    margin-bottom: 30px;
    box-shadow: 5px 10px #888888;
}

.sidebar-header {
    border-bottom: 1px solid black;
    margin-bottom: 4px;
    background-color: var(--light-grey);
    padding-top: 10px;
}

#employeesMaster {
    margin-top: 30px;
    list-style-type: none;
    margin-bottom: 30px;
    margin-left: 30px;
}

#employeesMaster li {
    height: 30px;
    width: 150px;
    border: 1px solid black;
    margin: 3px;
    font-size: 20px;
    text-align: center;
    background-color: azure;
}

#employeesMaster li:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    background: lightblue;
}

#weekDDL{
    margin-bottom: 40px;
    margin-left:10px;
}

.sortable_list{
    margin-top: 30px;
    list-style-type: none;
    margin-bottom: 30px;
    margin-left: 30px;
}

.sortable_list li {
    height: 30px;
    width: 150px;
    border: 1px solid black;
    margin: 3px;
    font-size: 20px;
    text-align: center;
    background-color: azure;
}

#jobBox {
    background-color: var(--light-green);
    float: right;
    max-width: 660px;
    margin-right: 50px;
    margin-left: 5px;
    border: 6px solid black;
    box-shadow: 5px 10px #888888;
}

.jobBoxheader {
    border-bottom: 1px solid black;
    margin-bottom: 4px;
    text-align: center;
    margin-bottom: 10px;
}

#no {
    border: none;
    background-color: #E8E0E0;
    height: auto;
    width: auto;
    margin-right: 75px;
    font-size: 15px;
}

#assignHeader{
    border-bottom: 1px solid black;
    margin-bottom: 50px;
    padding-bottom: 5px;
}

#map {
    height: 400px;
    width: 100%;
}
/* =================================================================================
    Dashboard STYLE
*/
div.table-style tr:nth-child(even) {
    background-color: lightgrey;
}

div.table-style tr {
    border: hidden;
}

h4.panel-heading {
    font-weight: bold;
}

div.suspended-style {
    border-top: 1px solid #ddd;
}


/* =================================================================================
    Mobile Chat Page
*/
.mobileChat {
}

.mobileMessage {
    outline: auto;
}

.mobileManage {

}

a#mobileChatLink {
    color: white;
}

@media (min-width: 770px) {
    #mobileChatLink {
        display: none;
    }
}
@media (max-width: 770px) {
    #chatLink {
        display: none;
    }
}

@media (max-width: 768px) {
    #chatForm {
        display: none;
    }
}

