@{
    ViewBag.Title = "About Erector Inc.";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information, such as the company's mission, location, goals, etc.</p>
